In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from getdata import netflix_df
from getdata import actors_df

In [ ]:
duplicated_actors = actors_df.drop(actors_df[actors_df['role'] == 'DIRECTOR'].index)
duplicated_actors = duplicated_actors[actors_df.duplicated("name", keep=False)]
duplicated_actors

In [21]:
new_netflix_df = pd.DataFrame({"id": netflix_df["id"], 
                  "imdb_score": netflix_df["imdb_score"], 
                  "imdb_votes": netflix_df["imdb_votes"] 
                  })
new_netflix_df

             id  imdb_score  imdb_votes
0      ts300399         NaN         NaN
1       tm84618         8.2    808582.0
2      tm154986         7.7    107673.0
3      tm127384         8.2    534486.0
4      tm120801         7.7     72662.0
...         ...         ...         ...
5845  tm1014599         6.8        45.0
5846   tm898842         7.7       348.0
5847  tm1059008         3.8        68.0
5848  tm1035612         NaN         NaN
5849   ts271048         7.8        18.0

[5850 rows x 3 columns]

In [ ]:
actor_dict = {}
for index, row in duplicated_actors.iterrows():
    if row["id"] in actor_dict: 
        actor_dict[str(row["id"])].append(row["name"])
    else: 
        actor_dict[str(row["id"])] = [row["name"]]
    

actor_dict

In [19]:
cast_list = []

for key, value in actor_dict.items():
    cast_list.append({"id": key, "cast": value})

cast_df = pd.DataFrame(cast_list, columns=["id", "cast"])

In [22]:
new_netflix_df.merge(cast_df)

,id,imdb_score,imdb_votes,cast
0,tm84618,8.2,808582.0,"[Robert De Niro, Harvey Keitel, Cybill Shepher..."
1,tm154986,7.7,107673.0,"[Jon Voight, Burt Reynolds, Ronny Cox, Billy R..."
2,tm127384,8.2,534486.0,"[Graham Chapman, John Cleese, Eric Idle, Terry..."
3,tm120801,7.7,72662.0,"[Lee Marvin, Ernest Borgnine, Jim Brown, Rober..."
4,ts22164,8.8,73424.0,"[Graham Chapman, Michael Palin, Terry Jones, E..."
...,...,...,...,...
4766,tm1165179,7.0,66.0,"[Chew Kin-Wah, Harith Iskander, Erra Fazira]"
4767,tm985215,7.1,50.0,"[Maymay Entrata, Edward Barber, Jeffrey Quizon..."
4768,tm1097142,5.0,327.0,"[Jamila Awad, Mahmoud Al-Bezzawy, Sabrien, Asm..."
4769,tm1014599,6.8,45.0,"[Richard Mofe-Damijo, Ademola Adedoyin, Zainab..."
4770,tm1059008,3.8,68.0,"[Yedinson Flórez, Aída Morales]"

In [24]:
actor_list = []

for index, row in new_netflix_df.iterrows():
    for i in row["cast"]:
            actor_list.append({"name": i, "imdb_score": row["imdb_score"], "imdb_votes": row["imdb_votes"], "total_films": 1})
        
multiple_actor_df = pd.DataFrame(actor_list, columns==["name", "indb_score", "imdb_votes", "total_films"])

multiple_actor_df

KeyError: 'cast'