In [20]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from getdata import netflix_df
from getdata import actors_df

In [21]:
duplicated_actors = actors_df.drop(actors_df[actors_df['role'] == 'DIRECTOR'].index)
duplicated_actors = duplicated_actors[actors_df.duplicated("name", keep=False)]

C:\Users\mrrit\AppData\Local\Temp\ipykernel_10632\985945383.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  duplicated_actors = duplicated_actors[actors_df.duplicated("name", keep=False)]

In [22]:
new_netflix_df = pd.DataFrame({"id": netflix_df["id"], 
                  "imdb_score": netflix_df["imdb_score"], 
                  "imdb_votes": netflix_df["imdb_votes"] 
                  })

In [23]:
actor_dict = {}
for index, row in duplicated_actors.iterrows():
    if row["id"] in actor_dict: 
        actor_dict[str(row["id"])].append(row["name"])
    else: 
        actor_dict[str(row["id"])] = [row["name"]]

In [24]:
cast_list = []

for key, value in actor_dict.items():
    cast_list.append({"id": key, "cast": value})

cast_df = pd.DataFrame(cast_list, columns=["id", "cast"])

In [25]:
final_cast_df = new_netflix_df.merge(cast_df)

In [26]:
actor_list = []

for index, row in final_cast_df.iterrows():
    for actor in row["cast"]:
                actor_list.append({"name": actor, "imdb_score": row["imdb_score"], "imdb_votes": row["imdb_votes"]})

multiple_actor_df = pd.DataFrame(actor_list, columns=["name", "imdb_score", "imdb_votes"])

In [27]:
most_votes_df = pd.DataFrame(multiple_actor_df.groupby("name")["imdb_votes"].sum())

In [28]:
average_votes_df = pd.DataFrame(multiple_actor_df.groupby("name")["imdb_score"].mean())

In [29]:
final_actor_df = pd.merge(most_votes_df, average_votes_df, on="name")

final_actor_df

                     imdb_votes  imdb_score
name
'Weird Al' Yankovic     21702.0    6.500000
50 Cent                174900.0    6.866667
A$AP Rocky              13477.0    6.650000
A.D. Miles              64622.0    6.766667
A.J. LoCascio           43207.0    6.500000
...                         ...         ...
İştar Gökseven          21325.0    6.933333
Łukasz Simlat            8484.0    6.600000
Şafak Sezer             99800.0    7.133333
Şebnem Bozoklu           6410.0    5.050000
Şinasi Yurtsever        39644.0    6.466667

[11562 rows x 2 columns]

In [30]:
most_votes_df = final_actor_df.sort_values("imdb_votes", ascending=False)
most_votes_df.head(10)

                      imdb_votes  imdb_score
name
Leonardo DiCaprio      8313221.0    7.925000
Cillian Murphy         5094611.0    8.450000
Marion Cotillard       5003252.0    7.800000
Morgan Freeman         4803877.0    7.250000
Tom Hardy              4761544.0    7.975000
Michael Caine          4601912.0    7.620000
Miranda Nolan          4582943.0    8.333333
Joseph Gordon-Levitt   4283943.0    7.650000
Russ Fega              3963298.0    8.600000
Tom Hanks              3945022.0    7.533333

In [31]:
best_movies_df = final_actor_df.sort_values("imdb_score", ascending=False)
best_movies_df

                   imdb_votes  imdb_score
name
Kim Sung-kyun          6718.0        9.20
Vanessa Roth        2021343.0        8.80
Emily Carey         2021343.0        8.80
Yoo Yeon-seok         12153.0        8.75
Hong Seung-hee         7813.0        8.70
...                       ...         ...
Summer Meng               0.0         NaN
Terrence Scammell         0.0         NaN
Wiktoria Filus            0.0         NaN
Woo Do-hwan               0.0         NaN
Yao Wenlong               0.0         NaN

[11562 rows x 2 columns]