In [44]:
# Imports
import pandas as pd
import string
import re
from getdata import netflix_df

In [45]:
genres_df = netflix_df[["genres"]]
genres_df

                                           genres
0                               ['documentation']
1                              ['drama', 'crime']
2     ['drama', 'action', 'thriller', 'european']
3                 ['fantasy', 'action', 'comedy']
4                               ['war', 'action']
...                                           ...
5845                         ['romance', 'drama']
5846                                    ['drama']
5847                                   ['comedy']
5848                                           []
5849            ['family', 'animation', 'comedy']

[5850 rows x 1 columns]

In [78]:
genres = []

for row in list(genres_df["genres"]):
    # re.sub() function taken from StackOverflow: https://stackoverflow.com/questions/34860982/replace-the-punctuation-with-whitespace
    clean = re.sub(r"[\[\]\' ]+\ *", "", row)
    clean2 = re.sub(r",", " ", clean)
    genre_list = list(clean2.split(" "))

    for genre in genre_list:
        if(not any(g["word"] == genre for g in genres)):
            #print("New word")
            genres.append({"word": genre, "count": 1})
        else:
            #print("Old word")
            genres[next((index for (index, g) in enumerate(genres) if g["word"] == genre), None)]["count"] += 1
genres

[{'word': 'documentation', 'count': 952},
 {'word': 'drama', 'count': 2968},
 {'word': 'crime', 'count': 936},
 {'word': 'action', 'count': 1157},
 {'word': 'thriller', 'count': 1228},
 {'word': 'european', 'count': 443},
 {'word': 'fantasy', 'count': 630},
 {'word': 'comedy', 'count': 2325},
 {'word': 'war', 'count': 163},
 {'word': 'romance', 'count': 971},
 {'word': 'western', 'count': 41},
 {'word': 'history', 'count': 254},
 {'word': 'music', 'count': 262},
 {'word': 'family', 'count': 682},
 {'word': 'horror', 'count': 378},
 {'word': 'scifi', 'count': 589},
 {'word': 'animation', 'count': 705},
 {'word': 'reality', 'count': 234},
 {'word': 'sport', 'count': 170},
 {'word': '', 'count': 59}]